@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form action="Game/NewGame" method="post">
        <input type="submit" value="Start New Game..."/>
    </form>
</div>
