@{
    ViewData["Title"] = "Game Setup";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <form action="CreateGame" method="get">
        @for(var ii = 1; ii < ViewData["NumPlayers"] + 1; ii++)
        { 
            @string player = $"player{ii}";
            @string playerDescription = $"Player {ii.ToString()}'s Name";
            <label for=@player>@playerDescription</label><br>
            <input type="text" name=@player id=@player><br>
        }
        <input type="submit" value="Start Game">
    </form>
</div>
